# CLion
.idea/workspace.xml
.idea/

# Build directories
cmake-build-*/

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
compile_commands.json
Makefile

# Text Files
*.txt

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Debug
*.ilk
*.pdb

# hackerrank codes
Hackerrank_codes.cpp