# CLion
.idea/workspace.xml
.idea/

# Build directories
cmake-build-*/
# Docs
cpp/docs/*.js
cpp/docs/*.html
cpp/docs/*.md
cpp/docs/*.css
cpp/docs/*.txt

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
compile_commands.json
Makefile

# Text Files
CSEP_Hackerrank_questions.txt

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Debug
*.ilk
*.pdb

# hackerrank codes
Hackerrank_codes.cpp